<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container p-2">
      <a class="navbar-brand" href="/#">Inventario Insuco</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/#"><i class="fas fa-home"></i> Principal</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-search"></i> Buscar Producto
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/searchId">Por Número</a>
              <a class="dropdown-item" href="/search">Por Categoría</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-plus"></i> Añadir
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="addProduct">Producto</a>
              <a class="dropdown-item" href="addPersona">Persona</a>
              <a class="dropdown-item" href="addUbicacion">Ubicación</a>
              <a class="dropdown-item" href="addRubro">Rubro</a>
              <a class="dropdown-item" href="addEspecie">Especie</a>
            </div>
          </li>
          <!--

            <li class="nav-item">
              <a class="nav-link" href="/#"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
            </li>
          -->
        </ul>
      </div>
    </div>
  </nav>
  